/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    padding: 0;
    margin: 0.4em 0 0 0.62em;
    font: bold 1.5em Tahoma, Verdana, sans-serif;
}

.description {
    padding: 0;
    margin: 1em;
}

.map {
    width: 100%;
    height: 26em;
    border-top: 2px solid #888888;
    border-bottom: 2px solid #888888;
    margin: 1em 0 1em 0;
}

li { padding-bottom: 8px;}

.coords { padding: 10px 0 0 10px; }
.coords ul {padding-top: 10px;}

label { font-style: italic;}

.about { position: absolute; top: 1em; right: 1em; font-size: 0.8em; padding: 0 1em 0 0;}